<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootWebApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" />
    <module name="spring-boot-web" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="guru.springframework.SpringBootWebApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>